---
extends: default

rules:
  line-length:
    max: 160
    level: warning
  # defaults/main.yml aligne les listes de dicts en colonnes
  braces:
    max-spaces-inside: 1
  commas:
    max-spaces-after: -1
