---

- name: Include OS-specific variables.
  include_vars: "{{ ansible_os_family }}.yml"


- import_tasks: createJail.yml


- import_tasks: sftpdService.yml


- name: Ensure an ssh jail group exists.
  group:
    name: "{{ ssh_chroot_jail_group_name }}"
    gid:  "{{ ssh_chroot_jail_group_gid | default (omit) }}"
    state: present

- include_tasks: jail-user.yml
  with_items: "{{ ssh_chroot_jail_users }}"
